

body {
    background-image: url('taust.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    background-color: rgba(138, 126, 126, 0.5); 
    backdrop-filter: blur(20px); 
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



#form h1{
    text-align: center;
    color:#792099;
}

#form{
    width:400px;
    margin:20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding:30px;
}


h1, #form {
    font-family: "Open Sans", sans-serif;
}

h1, #aitah-leht {
    color: aliceblue;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}

.content {
    text-align: center; 
}



.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


#form button{
    background-color: #792099;
    color:white;
    border: 1px solid #792099;
    border-radius: 5px;
    padding:10px;
    margin:20px 0px;
    cursor:pointer;
    font-size:20px;
    width:100%;
}

.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    padding:10px;
    border:1px solid rgb(34,193,195) ;
}

.input-group input:focus{
    outline: 2px solid blue;
}

.error{
    color: rgb(184, 111, 111);
    font-size: 0.8em;
}
.input-group .error{
    color:rgb(184, 111, 111);
    font-size:16px;
    margin-top: 5px;
}

.input-group.success input{
    border-color: #0cc477;
}

.input-group.error input{
    border-color:rgb(241, 192, 192);
}

/* desktopi vaade */
.container {
    max-width: 80%;
    margin: auto
    
}
/*mobiilivaade*/
@media only screen and (max-width: 600px){
    #form {
        width: 95%;
    }
}